@model List<Teacher>


@{
	Layout = null;
}

@{
	ViewData["HasFooter"] = true;
}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

<h2 style="text-align:center">Teacher List</h2>



@await Component.InvokeAsync("WorkChart")

<div class="row row-cols-md-3">
	   @foreach (Teacher item in Model)
	{
		<div class="col ">
			<partial name="~/Views/Teacher/Partials/_TeacherInfoPartial.cshtml" model="@item"/>
		</div>
	}
</div>