@using PassingData.Models
@using PassingData.Models.ViewModel
@model CustomerAndProductVM



<p>
	Müsteriler
</p>


<ul>

	@foreach (Customer item in Model.customers) 
	{
		<li>
			@item.FirstName
			@item.LastName
		</li>
	}
</ul>

<p> Urun @Model.product.ProductName </p>


<p> Tarih: @Model.date</p>