@using GettingData.Models

@model Product
<!DOCTYPE html>
<html>
<head>
	<style>
		p {
			text-align: center
		}
	</style>
</head>
<body>
	<h2>
		URUNLERIMIZ
	</h2>

	@if (ViewBag.Error != null)
	{
		<p>
			Merhaba, @ViewBag.Error.ToString();
		</p>
	}
	else
	{
		<p>ID si Secilen Urunumuz: @Model.ProductName </p>
	}
</body>
</html>

