@using GettingData.Models
@model Teacher

@addTagHelper * ,Microsoft.AspNetCore.Mvc.TagHelpers


<h2 style="text-align: center">Ogretmen Ekleme Sayfasi</h2>


<form method="post" asp-action="AddTeacher" asp-controller="Teacher">
	<div>
		<label asp-for="firstName" > FirstName: </label>
		<input type="text" asp-for="firstName" />
		
	</div>
	<div>
		<label asp-for="lastName"> LastName: </label>
		<input type="text" asp-for="lastName"  />

	</div>
	<div>
		<label asp-for="branchId"> Branch:  </label>
		<select asp-for="branchId" asp-items="@(new SelectList(ViewBag.Branches,"Id","branchName"))">

		</select>
	</div>
	<div>
		<button type="submit" > Ogretmen Ekle
		</button>
	</div>
</form>
