@model User

<!DOCTYPE html>
<html>
<head>
    <title>User Information</title>
</head>
<body>
    <h1>User Information</h1>
    <p>ID: @Model.Id</p>
    <p>Name: @Model.Name</p>
    <p>Email: @Model.Email</p>
</body>
</html>