


@section account{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a class="nav-link" asp-controller="home" asp-action="LoginAsStudent"><span class="glyphicon glyphicon-log-in"></span>LoginAsStudent</a>
        </li>

    </ul>

}

