


@section account{
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
            <a class="nav-link" asp-controller="home" asp-action="LoginAsTeacher"><span class="glyphicon glyphicon-log-in"></span>LoginAsTeacher</a>
        </li>
    </ul>

}
